<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingmi.yi.modular.news.dao.FinalNewsContentMapper">
    <resultMap id="BaseResultMap" type="com.qingmi.yi.modular.news.model.FinalNewsContent">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="content_id" property="contentId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="content_info" property="contentInfo" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="selectPage" resultMap="BaseResultMap">
        select id,content_id,title,source from final_news_content
        where 1=1
        <if test="e.source != null and e.source !='' and e.source !='null'">
            and source=#{e.source}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>